.btn {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    outline: none;
    border-radius: 10px;
    border:1px solid black;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn:active {
    transform: scale(0.9);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

.btns {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}

.btn_all {
    color: white;
    border-color: white;
}

.btn_high {
    color: red;
    border-color: red;
}

.btn_middle {
    color: yellow;
    border-color: yellow;
}

.btn_low {
    color: green;
    border-color:green;
}

ul {
    list-style: none;
}

.btnClose {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.233);
    border: none;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}

.btnClose:hover {
    color: white
}


.todoItem {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 5px 5px;
    justify-content: space-around;
    align-items: flex-end;
    transition: background-color .3s;
}

.todoItem:hover {
    background-color: rgb(36, 33, 54);
}

.todo__priority {
    text-align: center;
}
.todo {
    flex-wrap: nowrap;
    flex: 0 0 200px;
}


.todoItems {
    min-height: 100px;
}