* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  padding: 20px;
  position: relative;
  background-color: rgb(15, 13, 31);
  color: white;
}



.container {
  width: 1220px;
  margin: 0 auto;
  padding: 40px 10px 0;
}